.gitattributes
.vs
.git
lab1/bin/*
lab1/obj/*
lab3/bin/*
lab3/obj/*
lab4/bin/*
lab4/obj/*
lab5/bin/*
lab5/obj/*

lab1.sln
lab1/lab1.csproj
lab3/lab3.csproj
lab3/lab3.sln
lab4/lab4.csproj
lab4/lab4.sln
lab5/lab4.csproj
lab5/lab4.sln
